@using PhotoManager.Helpers.HtmlHelpers
@using PhotoManager.Model.ViewModels
@model ItemListViewModel<PhotoViewModel>

<div class="album py-5 bg-light">
<div class="container">
    
    @for (int j = 0; j < Model.ViewModels.Count;)
    {
        <div class="row">
            @for (int i = 0; i < ViewBag.ObjectsPerRow && j < Model.ViewModels.Count; i++)
            {
                var viewModel = Model.ViewModels[j];

                <div class="col-md-2">
                        @Html.ImageLink(viewModel.FilePath, viewModel.Name, "PhotoSlider", "Photo", new {albumId=viewModel.AlbumId, itemPosition =viewModel.ItemPosition},null,null)
                        <div class="form-group col-md-9 div-narrow" style="padding-left: 0">
                                <figcaption class="figure-caption caption-label label-block">@viewModel.Description</figcaption>
                                <figcaption class="figure-caption caption-label label-block">@viewModel.PhotoTakingPlace</figcaption>
                    </div>
                </div>
                j++;
            }
        </div>
          }
   
</div>
</div>
