@using PhotoManager.Helpers.HtmlHelpers
@using PhotoManager.Model.ViewModels
@model ItemListViewModel<PhotoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Photos edit</h3>
@if (Model == null)
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}
else
{
    <div class="container div-padding">
        <div class="row">
            @Html.Partial("_ListPhotosEditPartial", Model.ViewModels)
        </div>
    </div>
    if (Model.PageInfo.TotalPages > 1 && Model != null)
    {
        <div class="btn-group div-centercontent">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("AlbumEdit", new { albumId = Model.ViewModels.First().AlbumId, page = x }))
        </div>
    }

}



