@using PhotoManager.Helpers.HtmlHelpers
@model PhotoManager.Model.ViewModels.ItemListViewModel<PhotoManager.Model.ViewModels.AlbumViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Albums overview</h3>
<div class="container div-padding">
    <div class="row">
        <div class="col-md-10">
            @Html.Partial("_ListAlbumsPartial", Model.ViewModels)
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Edit Mode", "AlbumsEdit", "Album", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
@if (Model.PageInfo.TotalPages > 1)
{
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("AlbumsOverview", new {page = x}))
    </div>
}