@using PhotoManager.Helpers.HtmlHelpers
@using PhotoManager.Model.ViewModels
@model ItemListViewModel<AlbumViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Albums edit</h3>

@if (Model == null)
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}
else
{
    <div class="container div-padding">
        <div class="row">
            @Html.Partial("_ListAlbumsEditPartial", Model.ViewModels)
        </div>
    </div>

    if (Model.PageInfo.TotalPages > 1)
     {
        <div class="btn-group">
             @Html.PageLinks(Model.PageInfo, x => Url.Action("AlbumsEdit", new { page = x }))
        </div>
     }
}


